<p>To reset your password, please click on the following link:</p>
<a href="{{ url('app_reset_password_page', {'token': resetToken}) }}">Reset Password</a>
<p>{{ expirationMessageKey|trans(expirationMessageData) }}</p>
